/* googlemap.css */

.container-fluid {
    padding: 0;
}

.card {
    cursor: pointer;
    transition: transform 0.2s;
}

    .card:hover {
        transform: scale(1.05);
    }

.card-img {
    object-fit: cover;
    height: 100px;
}

.img-fixed-height {
    height: 200px;
    width: 140%;
}

h5 {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
